.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 7px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
  font-family: "consolas";
  cursor: pointer;
}

.task-title {
  cursor: pointer;
}

.remove-task-button,
.see-task-details-button {
  background-color: #444;
  border: none;
  font-size: 18px;
  color: #6ed9e7;
  cursor: pointer;
  margin: 0 5px;
}

.remove-task-button {
  padding-right: 8px;
}
